<div class="container">
    <form [formGroup]="createOrderForm" class="p-2" (submit)="onCreate()">
        <div class="mb-3">
            <label for="product-name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="product-name" formControlName="product_name">
        </div>

        <div class="mb-3">
            <label for="product-description" class="form-label">Product Description</label>
            <textarea type="text" class="form-control" id="product-description" formControlName="product_description"></textarea>
        </div>

        <div class="mb-3">
            <label for="product-price" class="form-label">Product Price</label>
            <input type="number" class="form-control" id="product-price" formControlName="price">
        </div>

        <div class="mb-3">
            <label for="product-quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="product-quantity" formControlName="quantity">
        </div>

          
        <button type="submit" class="btn btn-primary">Create Order</button>


    </form>

</div>
